.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 150em;
  margin: auto, auto;
  overflow: auto;
  min-height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 2vmin);
  color: white;
  margin-top: 1em;
}

input[type=submit], .inputButton, .knownQuestions, .possibleCards, .giveUp, .randomCard, .name {
  border: none;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
}

input[type=submit]:hover, .inputButton:hover, .knownQuestions:hover, .possibleCards:hover, .giveUp:hover, .randomCard:hover, .name:hover {
  background-color: gray;
}

input[type=submit]:active, .inputButton:active, .knownQuestions:active, .possibleCards:active, .giveUp:active, .randomCard:active, .name:active {
  background-color: lightgrey;
}

input[type=text] {
  padding: 6px;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 4px;
  border: none;
}

h1 {
  font-size: 2.5em;
  margin-bottom: .75em;
}

h2 {
  font-size: 2em;
  margin-bottom: .85em;
}

.randomCard {
  font-size: 25px;
  padding: 5px 15px;
  margin-bottom: 2em;
}

.dualButtons {
  display: flex;
  justify-content: space-between;
  min-width: 25em;
}

.nameReveal {
  margin-top: 1em;
}

.cardsGuessedHeader {
  margin-top: 1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
  margin-bottom: 2em;
}

.grid-item {
  border: 2px solid white;
  padding: 20px;
  text-align: center;
}

.filled-box {
  border: 2px solid black;
}





.filteredCards > img {
  max-width: 22%;
  padding: 5px;
}

.knownQuestions {
  display: block;
  margin-top: 3em;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 50em;
  font-size: 8px;
}